@CHARSET "UTF-8";
img{
	height: 70px;
	width: 70px;
		border: 50%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
td
{
	    padding: 10px !important;
}
table
{
	margin:auto;
}
.top_mar
{
	margin-top:50px;
}
.1mastery_shade
{
	filter: grayscale(0%) !important;
}
.0mastery_shade
{
	filter: grayscale(100%) !important;
}
.profile
{
	height: 170px;
	width: 170px;
	border: 50%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

}
.profile
{
	height: 70px;
	width: 70px;
	border: 50%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

}
.nav_play
{
	position:absolute;
	top:300px;
	left:20px;
}
.content
{
	top:100px;
	text-align: center;
}
.row
{
	height:100vh;
}
a
{
    font-size: 30px;
    margin: 20px;}